/* Color scheme stolen from Sergey Karayev */
a {
  color: #07889b;
  text-decoration:none;
}

a:focus, a:hover {
  color: #e37222;
  text-decoration:none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 15px;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 15px;
}

heading {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
  /* color: #e3722; */
  color: #970000;
}

papertitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
}

name {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 42px;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.cool {
  color: red;
}
