<div class="row">
  <!-- <h2>About Me</h2> -->
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="/static/img/purva.jpg" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <p class="content"> I am a first year computer science M.S. student at Georgia Tech, advised by <a href="https://filebox.ece.vt.edu/~parikh/">Prof. Devi Parikh</a>. I am currently working on developing AI models that can  <!--</p>-->

    <!--
    <p class="content">
    <ul>
      <li>understand <b><i>human preferences and biases</i></b> and utilize this information to</li>
      <li>understand <b><i>human notions of creativity</i></b> to eventually</li>
      <li>create <b><i>new forms of art</i></b> altogether.
    </ul>
    </p>
  -->

    learn about visual and language-based incongruities in nature, and leverage this information to induce creativity in potentially boring objects. I think exploring the creation of AI that can better understand human preferences through the use of common sense reasoning is interesting. More generally, I am interested in the broad areas of Computer Vision, Machine Learning, and Natural Language Processing.
   </p>

    <!--<p class="content"> I am also interested in Computer Systems and Network Security. I spent Summer 2017 working with <a href="https://www.ntu.edu.sg/home/arvinde/">Dr. Arvind Easwaran</a> on analyzing existing cross-layer modeling frameworks for Cyber Physical Systems at the Hardware and Embedded Systems Lab (HESL), NTU Singapore. Through this internship, I got to learn about relevant security considerations for a system, limitations in current state-of-the-art modeling frameworks, some specific vulnerabilities in Windows systems, and how to represent all this as a model at different layers of abstraction.</p>-->

    <p class="content">In my free time, I play the Harmonium instrument. I am very passionate about music. I love to learn about different music styles and their histories. I am also a trained Bharatnatyam dancer.</p>
    <!-- <p class="content">Interested? Visit my <a href="https://scholar.google.com/citations?user=rIK7AMkAAAAJ&hl=en">Google Scholar</a> profile to find out more about my work!</p> -->
    <p class="content">Feel free to reach out to me at <a href="mailto:purva@gatech.edu">purva@gatech.edu</a></p>
    <!-- <span class="content">You can also reach me at: </span> -->

    <a class="btn btn-social-icon btn-linkedin" target="_blank" href="https://www.linkedin.com/in/purva-tendulkar-774b48151/">
      <span class="fa fa-linkedin"></span>
    </a>

    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/PurvaTendulkar" target="_blank">
      <span class="fa fa-twitter"></span>
    </a>

    <a class="btn btn-social-icon btn-facebook" target="_blank" href="https://www.facebook.com/profile.php?id=100006056025903">
      <span class="fa fa-facebook"></span>

    <a class="btn btn-social-icon btn-instagram" target="_blank" href="https://www.instagram.com/purva.tendulkar/">
      <span class="fa fa-instagram"></span>
    </a>

  </div>
</div>

