<!--
<div class="row">
  <h2>Achievements</h2>
  <hr>
  <div class="col-md-12">
    <ul id="achievements_list">
      <li class="newsElement">Among the top 30 percent highest scoring reviewers for <a href="https://nips.cc/">NeurIPS 2018</a></li>
      <li class="newsElement">Georgia Tech College of Computing MS Research Award, 2018</li>
      <li class="newsElement">Won <a href="http://www.vthacks.com/">VT Hacks 2017</a>, a <a href="https://mlh.io/"> Major League Hacking Event</a>, 2017</li>
      <li class="newsElement">Semi-Finalists for <a href="http://www.auvsifoundation.org/2014-robosub-teams">AUVSI Robosub 2014</a> as a part of DTU-AUV</li>
      <li class="newsElement">Awarded Merit Scholarships from 2012-2014 for Academic Performance</li>
      <li class="newsElement">Selected for <a href="http://kvpy.iisc.ernet.in/main/index.htm">KVPY</a> and <a href="http://www.inspire-dst.gov.in/fellowship.html">INSPIRE</a> Fellowship, 2012</li>
      <li class="newsElement">Placed among the top 1 percent students in the country in <a href="http://www.indapt.org/index.php/inphoipho">INPhO</a> 2012</li>
      <li class="newsElement">Selected for rigorous mathematical training camps conducted by mathematicians from Bhabha Atomic Research Center (<a href="http://www.barc.gov.in/">BARC</a>) and Indian Institute of Science (<a href="http://www.iisc.ac.in/">IISc</a>) in 2012</li>
      <li class="newsElement">Selected for <a href="http://www.csirhrdg.res.in/cpyls.htm">CSIR Programme on Youth Leadership in Science</a>, 2010</li>
    </ul>
  </div>
</div>
-->