<div class="row">
    <h2>Experience</h2>
    <hr>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Undergraduate Summer Intern, <a target="_blank" href="https://www.cse.iitb.ac.in/~varsha/">Systems and Networing Group, IIT Bombay</a></h3>
          <p class="content">Worked on EvalPro, a Django-based software used for auto-grading programming assignments in IIT.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/iitb.png" width="120px">
        <p>(May 2016 - July 2016)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="http://scse.ntu.edu.sg/Research/HESL/Pages/Home.aspx">HESL, Nanyang Technological University Singapore</a></h3>
          <p class="content">Analyzed existing Cyber Physical Systesms (CPSs) in order to study their limitations for modeling complex attacks like <a href="https://en.wikipedia.org/wiki/Stuxnet">Stuxnet</a>.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/ntu.jpg" width="120px">
        <p>(May 2017 - August 2017)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Graduate Researcher, <a target="_blank" href="https://www.cc.gatech.edu/~parikh/vil.html">Visual Intelligence Lab, Georgia Tech</a></h3>
          <p class="content">Working on problems at the intersection of computer vision and natural language processing with a focus
towards building intelligent systems, capable of understanding creativity and generating art.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/vil.png" width="120px">
        <p>(August 2018 - Present)</p>
        <br>
      </div>
    </div>
</div>
