<div class="row">
  <h2>News</h2>
  <hr>
  <div class="col-sm-12">
    <ul id="news_list">
      <li class="newsElement"><font color="red">Summer 2019</font> - Working at <a href="http://aibee.com/en/">AiBee Corp</a>.</li>
      <li class="newsElement"><font color="red">April 2019</font> - New <a href="https://arxiv.org/abs/1903.07820">paper</a> on thematic doodle generation to appear in <a href="http://www.computationalcreativity.net/iccc2019/">ICCC 2019</a>.</li>
      <li class="newsElement"><font color="red">August 2018</font> - Joined the <a href="https://www.cc.gatech.edu/~parikh/vil.html">Visual Intelligence Lab</a> under Prof. Devi Parikh at Georgia Tech.</li>
      <li class="newsElement"><font color="red">July 2018</font> - Code for NAACL 2018 paper "Punny Captions: Witty Wordplay in Image Descriptions" now available on <a href="https://github.com/purvaten/punny_captions">GitHub</a>.</li>
      <li class="newsElement"><font color="red">June 2018</font> - Completed Sangeet Visharad (Bachelor of Arts in Music) in Harmonium instrument recital from <a href="https://abgmvm-exam.org/">ABGMV</a>, with First Class</li>
      <li class="newsElement"><font color="red">May 2018</font> - Graduated from College of Engineering Pune (COEP), with a cumulate GPA of 9.14/10</li>
      <li class="newsElement"><font color="red">May 2018</font> - Code for ICCP 2016 paper "Blind dehazing using internal patch recurrence" now available on <a href="https://github.com/purvaten/blind-dehazing">GitHub</a>.</li>
      <li class="newsElement"><font color="red">January 2017</font> - Awarded the <a href="http://www.eaton.in/EatonIN/EatonExcellenceAwards/index.htm">Pratibha Eaton Excellence Scholarship</a> that aims to recognize exceptional women engineering students in leading engineering institutions in India, assessing them not only on academic excellence but also on the basis of their co-curricular achievements</li>
    </ul>
  </div>
</div>
<style type="text/css">
  .newsElement{
    padding-bottom: 5px;
  }
</style>
