  <div class="row">
    <h2>Projects</h2>
    <hr>

    <!-- (1) TRICK OR TREAT -->
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Automatic Theme-based Word Doodling</h3>
        <h4><font color="crimson"><a href="http://computationalcreativity.net/iccc2019/">ICCC 2019</a></font></h4>
        <br>
        <p>Given a word and theme as input, our system generates a doodle of the word in the given theme.</p>
        <a class="github-button btn" data-size="large" data-show-count="false" aria-label="doodling on GitHub">Code</a>
        <p><font color="darkblue">To be released soon.</font></p>
      </div>
    </div>
    <br>
    <!-- example doodles -->
    <div class="row">
      <div class="col-sm-4">
        <img src="/static/img/project/exam.png" width="100%">
      </div>
      <div class="col-sm-4">
        <img src="/static/img/project/witch.png" width="100%">
      </div>
      <div class="col-sm-4">
        <img src="/static/img/project/play.png" width="100%">
      </div>
    </div>
    <!-- caption -->
    <div class="row">
      <div class="col-sm-4">
        <center><p><font color="salmon">Word</font> : Exam<br><font color="green">Theme</font> : Education</p></center>
      </div>
      <div class="col-sm-4">
        <center><p><font color="salmon">Word</font> : Witch<br><font color="green">Theme</font> : Halloween</p></center>
      </div>
      <div class="col-sm-4">
        <center><p><font color="salmon">Word</font> : Play<br><font color="green">Theme</font> : Olympics</p></center>
      </div>
    </div>

    <hr>

    <!-- (2) BLIND DEHAZING -->
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading"><a target="_blank" href="https://ieeexplore.ieee.org/abstract/document/7492870">Blind Dehazing Using Internal Patch Recurrence</a>: PyTorch Implementation</h3>
        <br>
        <p>Implemented (in Python) the ICCP ’16 paper Blind Image Dehazing Using Internal Patch Recurrence. Achieved approximately <bold>20x</bold> better speed for optimization in PyTorch as compared to the original MATLAB implementation.</p>
        <a class="github-button btn" href="https://github.com/martiansideofthemoon/blind-dehazing" data-size="large" data-show-count="false" aria-label="blind-dehazing on GitHub">Code</a>
        <a class="github-button" href="https://github.com/martiansideofthemoon/blind-dehazing" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star blind-dehazing on GitHub">Star</a>
        <a class="github-button" href="https://github.com/martiansideofthemoon/blind-dehazing/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork blind-dehazing on GitHub">Fork</a>
      </div>
    </div>
    <br>
    <!-- example dehazed images -->
    <div class="row">
      <div class="col-sm-6">
        <img src="/static/img/project/cones.png" height="190" width="570">
      </div>
      <div class="col-sm-6">
        <img src="/static/img/project/buildings.png" height="235" width="385">
      </div>
    </div>

    <hr>

    <!-- (3) PUNNY CAPTIONS -->
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading"><a target="_blank" href="https://arxiv.org/abs/1704.08224">Punny Captions - Witty Wordplay in Image Descriptions</a> Implementation</h3>
        <br>
        <p>Implemented (in Python) the NAACL ’18 paper Punny Captions - Witty Wordplay in Image Descriptions. Given an input image, the system generates a punny caption for it.</p>
        <a class="github-button btn" href="https://github.com/purvaten/punny_captions" data-size="large" data-show-count="false" aria-label="punny_captions on GitHub">Code</a>
        <a class="github-button" href="https://github.com/purvaten/punny_captions" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star punny_captions on GitHub">Star</a>
        <a class="github-button" href="https://github.com/purvaten/punny_captions/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork punny_captions on GitHub">Fork</a>
      </div>
    </div>
    <br>
    <!-- example punny caption outputs -->
    <div class="row" align="center">
      <table style="width:60%" border="1" class="center">
      <tr>
        <th><center>Image</center></th>
        <th><center>Tag : Puns</center></th>
        <th><center>Punny Caption</center></th>
      </tr>
      <tr>
        <td><center><img src="/static/img/project/woman-phone.jpg" height=212" width="320"></center></td>
        <td><center>{cell: sell}</center></td>
        <td><center>a woman sell her cell phone on the sidewalk</center></td>
      </tr>
      <tr>
        <td><center><img src="/static/img/project/bear.jpg" height=212" width="320"></center></td>
        <td><center>{bear : bare}</center></td>
        <td><center>a bare bear is standing on a rock</center></td>
      </tr>
      <tr>
        <td><center><img src="/static/img/project/giraffes.jpg" height=254" width="320"></center></td>
        <td><center>{herd: heard}</center></td>
        <td><center>a heard of zebras are standing in a field</center></td>
      </tr>
      <tr>
        <td><center><img src="/static/img/project/broccoli.jpg" height=240" width="320"></center></td>
        <td><center>{white: wight, meat : meet, mete, fork : folk}</center></td>
        <td><center>meet and broccoli on a plate with a fork</center></td>
      </tr>
    </table>
    </div>

    <hr>
  </div>
