  <!--
  <div class="row">
    <h2>Publications</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading"><a href="https://arxiv.org/abs/1808.02861">Choose Your Neuron: Incorporating Domain-Knowledge through Neuron-Importance</a></h3>
        <p class="content">
            <p class="pubd">
                <span class="authors">Ramprasaath R. Selvaraju<sup>*</sup>, <b>Prithvijit Chattopadhyay</b><sup>*</sup>, Mohamed Elhoseiny, Tilak Sharma, Dhruv Batra, Devi Parikh, Stefan Lee</span>
                <br><span class="authors"><sup>*</sup>equal contribution</span>
                <br><span class="conf"><a href="https://eccv2018.org/">ECCV 2018</a>, <a href="https://sites.google.com/view/continual2018/home?authuser=0">Continual Learning Workshop, NeurIPS 2018</a>, <a href="https://nips2018vigil.github.io/">Visually Grounded Interaction and Language (ViGIL) Workshop, NeurIPS 2018</a></span>
                <br>
            </p>
        </p>

        <p>
          <a href="https://github.com/ramprs/neuron-importance-zsl" class="white-text"><button type="button" class="btn btn-primary ribbon">Code</button></a>
        </p>
      </div>

      <div class="col-sm-12">
        <h3 class="content_heading"><a href="https://arxiv.org/pdf/1810.12366.pdf">Do explanation modalities make VQA Models more predictable to a human?</a></h3>
        <p class="content">
            <p class="pubd">
                <span class="authors">Arjun Chandrasekaran<sup>*</sup>, Viraj Prabhu<sup>*</sup>, Deshraj Yadav<sup>*</sup>, <b>Prithvijit Chattopadhyay</b><sup>*</sup>, Devi Parikh</span>
                <br><span class="authors"><sup>*</sup>equal contribution</span>
                <br><span class="conf"><a href="http://emnlp2018.org/">EMNLP 2018</a></span>
                <br>
            </p>
        </p>
      </div>

      <div class="col-sm-12">
        <h3 class="content_heading"><a href="https://arxiv.org/abs/1708.05122">Evaluating Visual Conversational Agents via Cooperative Human-AI Games</a></h3>
        <p class="content">
            <p class="pubd">
                <span class="authors"><b>Prithvijit Chattopadhyay</b><sup>*</sup>, Deshraj Yadav<sup>*</sup>, Viraj Prabhu, Arjun Chandrasekaran, Abhishek Das, Stefan Lee, Dhruv Batra, Devi Parikh</span>
                <br><span class="authors"><sup>*</sup>equal contribution</span>
                <br><span class="conf"><a href="https://www.humancomputation.com/2017/">HCOMP 2017</a></span>
                <br>
            </p>
        </p>

        <p>
          <a href="https://github.com/GT-Vision-Lab/GuessWhich" class="white-text"><button type="button" class="btn btn-primary ribbon">Code</button></a>
        </p>
      </div>

      <div class="col-sm-12">
        <h3 class="content_heading"><a href="https://arxiv.org/abs/1704.00717">It Takes Two to Tango: Towards Theory of AI's Mind</a></h3>
        <p class="content">
            <p class="pubd">
                <span class="authors">Arjun Chandrasekaran<sup>*</sup>, Deshraj Yadav<sup>*</sup>, <b>Prithvijit Chattopadhyay</b><sup>*</sup>, Viraj Prabhu<sup>*</sup>, Devi Parikh</span>
                <br><span class="conf"><a>Chalearn Looking at People Workshop, CVPR 2017</a></span>
                <br>
            </p>
        </p>

        <p>
          <a href="https://deshraj.github.io/TOAIM" class="white-text"><button type="button" class="btn btn-primary ribbon">Demo</button></a>
          <a href="https://github.com/deshraj/TOAIM" class="white-text"><button type="button" class="btn btn-primary ribbon">Code</button></a>
        </p>
      </div>

      <div class="col-sm-12">
        <h3 class="content_heading"><a href="https://arxiv.org/abs/1604.03505">Counting Everyday Objects in Everyday Scenes</a></h3>
        <p class="content">
            <p class="pubd">
                <span class="authors"><b>Prithvijit Chattopadhyay</b><sup>*</sup>, Ramakrishna Vedantam<sup>*</sup>, Ramprasaath R. Selvaraju, Dhruv Batra, Devi Parikh</span>
                <br><span class="authors"><sup>*</sup>equal contribution</span>
                <br><span class="conf"><a href="http://cvpr2017.thecvf.com/">CVPR 2017</a></span>
                <br>
            </p>
        </p>

        <p>
          <a href="https://github.com/prithv1/cvpr2017_counting" class="white-text"><button type="button" class="btn btn-primary ribbon">Code</button></a>
        </p>
      </div>
    </div>
  </div>
-->